Intermediate/Build
Intermediate/Config
Intermediate/DataSm*
Intermediate/PipInstall
Intermediate/ReimportCache
Intermediate/ShaderAutogen
Intermediate/Staging
Intermediate/Cached*
Intermediate/TargetInfo*
Intermediate/AssetRegistryCache
Content/.DS_Store
.DS_Store
.vsconfig
bin-win
Binaries
Build
.vs
.stfolder
Plugins/Marketplace
Plugins/VisualStudioTools
Saved
.vscode/settings.json
DerivedDataCache
Intermediate
Content/td/TDImportCache
ue_td_starter.sln
*.dmp
Packaged_*
Packaged
deploy.sh
deploy.sh~
FloorAndRight.log
LeftAndWall.log
rsyncexclude.txt
traceargs.txt
